body{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67,144,233,1) 0%, rgba(78,226,198,1) 90.1% );); ;
}
.head a{
  float: left;
  padding: 22px;
  text-decoration: none;
}
.notification{
	position: relative;
}
.notification .badge{
	top: -10px;
	right: -10px;
	position: absolute;
	border-radius: 50%;
	padding: 5px 10px;
	background-color: red;
}
.glyphicon.glyphicon-search{
	font-size: 25px;
}
.glyphicon.glyphicon-bell{
	font-size: 25px;
}
.glyphicon.glyphicon-envelope{
	font-size: 25px;
}
.sidebar {
  margin-top: -20px;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100vh;
  overflow: auto;
  margin-left:-125px;
  position: fixed;


}

.sidebar a {
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
  margin-top: 20px;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.login-page{
  margin-top: 5px;
  background-color: white;
  padding :15px;
  box-shadow: 10px 10px 8px 0 rgba(233, 5, 245, 0.2), 10px 10px 20px 0 rgba(233, 5, 245, 0.19);

}
.heading-text{
  text-shadow: 2px 3px 5px black;
  color: orange;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.checkbox{
  text-align: left;
  color: blue;
}
.paragraph{
  color:red;
  font-size: 15px;
  text-align: center;
  padding:10px;
  text-shadow: 2px 2px 5px black; 
}
@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0px;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: left;
    float: none;
  }
}
